
{% extends "account/base.html" %}
{% block content %}
{% load static %}

<div class="container">
  <h1>Dashboard</h1>
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ profile.image.url }}">

        </div>
        <form>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
          <div class="media-body">
            {% if profile.introduction %}
            <h4 class="account-heading">{{ profile.introduction }}</h4>
            {% endif %}

            <p class="text-secondary">{{ profile.bio }}</p>

          </div>
            </fieldset>
          {% if profile.user == user %}
        <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Update</a>
            </div>
              <div>
              <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'get-amount' profile.user.username %}">Fund Account</a>
            </div>
            <p class="text-secondary">{{ profile.account_balance }} coins</p>
          {% endif %}
          <p class="text-secondary">{{ profile.fans.count }} Fans</p>
        </form>
      </div>
      <div>
        {% for donation in donations %}
        <p>{{ donation }}</p>
        {% endfor %}
      </div>

          <div class="row">
            <div class="col-lg">
                <form action="{% url 'dashboard' profile.user.username %}" method="POST">
                  {% csrf_token %}
                  <h3>Drop a coin for {{ profile.user.username }}</h3>
                  <div class="form-row">

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1">
                      <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="3">
                      <label class="form-check-label" for="inlineRadio2">3</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="5">
                      <label class="form-check-label" for="inlineRadio3">5</label>
                    </div>

                  <div class="form-group">
                    <label for="inputCustom">Custom</label>
                    <input type="text" name="custom" class="form-control" id="inputCustom" placeholder="$1000">
                  </div>

                  </div>
                  <div class="form-group">
                    <label for="inputMessage">Message</label>
                    <input type="text" name="message" class="form-control" id="inputMessage" placeholder="message">
                  </div>
                    {% if profile.user != user %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                  
                </form>
 
            </div>
          </div>
  </div>
      

{% endblock content %}