
{% extends "account/base.html" %}
{% block content %}
{% load static %}

<div class="container">
  <h1>Dashboard</h1>
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ profile.image.url }}">

        </div>
        <form>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
          <div class="media-body">
            <h4 class="account-heading">{{ profile.introduction }}</h4>
            <p class="text-secondary">{{ profile.bio }}</p>
          </div>
            </fieldset>
          {% if profile.user == user %}
        <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="">Update</a>
            </div>
          {% endif %}
        </form>
      </div>

          <div class="row">
            <div class="col-lg">
                <form action="{% url 'dashboard' profile.user.username %}" method="POST">
                  {% csrf_token %}
                  <h3>Drop a coin for {{ profile.user.username }}</h3>
                  <div class="form-row">

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                      <label class="form-check-label" for="inlineRadio1">1</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                      <label class="form-check-label" for="inlineRadio2">3</label>
                    </div>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                      <label class="form-check-label" for="inlineRadio3">5</label>
                    </div>

                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Password</label>
                      <input type="password" class="form-control" id="inputPassword4">
                    </div>

                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                  </div>
                  <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
 
            </div>
          </div>
  </div>
      

{% endblock content %}